/* HTML Tags*/
body {
  padding-bottom: 5%;
  text-align: center;
  font-family: "Special Elite", cursive;
  background-image: linear-gradient(
    125deg,
    lightblue calc(50% - 4px),
    lightgreen calc(50% + 4px)
  );
}

h1 {
  margin: 1% 0;
}

/* Table CSS */
.game {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

td {
  height: 8rem;
  width: 8rem;
  border: 3px solid black;
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
}

/*Button CSS*/
.O,
.X {
  font-family: "Ubuntu", sans-serif;
  margin: 10px;
}

/* Div's CSS*/
.resultX,
.resultO,
.resultDraw,
.reset {
  display: none;
}
.selectPlayer {
  display: block;
}

/* Refresh Link CSS*/
.reset {
  size: 2rem;
}

/* Cell-Line-Stroke*/
.horizontal {
  background-image: linear-gradient(
    0deg,
    transparent calc(50% - 4px),
    red,
    transparent calc(50% + 4px)
  );
}

.leftDiagonal {
  background-image: linear-gradient(
    to bottom left,
    transparent calc(50% - 4px),
    red,
    transparent calc(50% + 4px)
  );
}

.rightDiagonal {
  background-image: linear-gradient(
    to bottom right,
    transparent calc(50% - 4px),
    red,
    transparent calc(50% + 4px)
  );
}

.vertical {
  background-image: linear-gradient(
    90deg,
    transparent calc(50% - 4px),
    red,
    transparent calc(50% + 4px)
  );
}

/*For Effects*/
.glowX {
  background-image: linear-gradient(125deg, lightgreen, lightgreen);
}

.glowO {
  background-image: linear-gradient(125deg, lightblue, lightblue);
}

.glowWarning {
  color: white;
  background-image: linear-gradient(to right, red, red);
}
